.vscode/

server/server
client/client

server/server_esercizio
client/client_esercizio

server/rcomp_server
client/rcomp_client

client/provaquit.exe
client/provaquit

**/*.o
**/*.exe
**/folder-*
**/archivio_compresso.*